# Model: Pretrained Inception Network

## Preamble

In [1]:
from tensorflow import keras
import PIL
import numpy
import pandas
import itertools

## Data Preparation

In [2]:
movies = catalog.load("movies")

2021-03-15 22:00:13,166 - kedro.io.data_catalog - INFO - Loading data from `movies` (ParquetDataSet)...

**exclude test set**

In [3]:
movies_test = catalog.load("movies_test")

2021-03-15 22:00:13,368 - kedro.io.data_catalog - INFO - Loading data from `movies_test` (CSVDataSet)...

In [4]:
movies_test

,original_title,poster_path,genre_names,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,,,
17335,Obsessed,/g7kv7RXzqCSMmiYmV0gVLpxB0YH.jpg,['Drama' 'Thriller'],0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
757,Murder Most Foul,/qTCKB5rxYzgdWUUH4UMgpRVH3GJ.jpg,['Comedy' 'Crime' 'Drama' 'Mystery' 'Thriller'],0,0,0,1,1,0,1,...,0,0,0,1,0,0,0,1,0,0
11886,Robin Hood,/x9AvkYek0bGdxQSZ8W3lAjGrREm.jpg,['Animation' 'Family'],0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2115,Light of Day,/hFXnASDyZd3i9TOuBPUtJRvfZsK.jpg,['Music' 'Drama'],0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1915,"Manta, Manta",/cpc3fbClSG46azA1dNW0ilKvIgj.jpg,['Comedy' 'Action'],1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15111,All Day Every Day,NaN,[],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18002,"Love, Honour and Obey",/n4mq89w2Dgn2oDnYGtx5qnSmfTA.jpg,['Action' 'Comedy' 'Thriller' 'Crime'],1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1830,Lord of War,/xEdwdFZRwrNAvTDx0fAV3MAInaA.jpg,['Crime' 'Drama' 'Thriller'],0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
4494,Arrebato,/nSZudIenEYBUrOIyNbyi1pdknyU.jpg,['Drama' 'Fantasy' 'Horror'],0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
9272,The Good Son,/z3WHTh3Mm8YVL8efXPAwc077726.jpg,['Thriller'],0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
movies_train = movies.loc[movies.index.difference(movies_test.index)]

In [6]:
movies_train

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,genre_names
id,,,,,,,,,,,,,,,,,,,,,
2,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,,Ariel,False,6.8,128,NaN,None,None,None,"[Drama, Crime, Comedy]"
3,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,,Shadows in Paradise,False,7.2,125,NaN,None,None,None,"[Drama, Comedy]"
5,False,/u0zMKKpEdDWpOKmFW2sLbKKICJH.jpg,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,5.7,1901,NaN,None,None,None,"[Crime, Comedy]"
6,False,/5aXp2s4l6g5PcMMesIj63mx8hmJ.jpg,NaN,21000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",,tt0107286,en,Judgment Night,"While racing to a boxing match, Frank, Mike, J...",...,Don't move. Don't whisper. Don't even breathe.,Judgment Night,False,6.5,184,NaN,None,None,None,"[Action, Thriller, Crime]"
8,False,None,NaN,42000,"[{'id': 99, 'name': 'Documentary'}]",http://www.lifeinloops.com,tt0825671,en,Life in Loops (A Megacities RMX),Timo Novotny labels his new project an experim...,...,A Megacities remix.,Life in Loops (A Megacities RMX),False,7.3,13,NaN,None,None,None,[Documentary]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,False,/gpEJ2fR3Oy7hAMl8wAtv6Nd40x3.jpg,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",,tt1131734,en,Jennifer's Body,"Jennifer, a gorgeous, seductive cheerleader wh...",...,She's evil... and not just high school evil.,Jennifer's Body,False,5.7,2451,NaN,None,None,None,"[Comedy, Horror]"
19996,False,None,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",,tt0932661,en,Brother's War,The story is set in the latter days of World W...,...,,Brother's War,False,3.9,14,NaN,None,None,None,"[Action, Drama]"
19997,False,/TNfPn4Fwi0Fqx4BsjxOL3Tmscw.jpg,NaN,1250000,"[{'id': 53, 'name': 'Thriller'}]",,tt0046126,en,Niagara,"Rose Loomis and her older, gloomier husband, G...",...,A raging torrent of emotion that even nature c...,Niagara,False,6.8,214,NaN,None,None,None,[Thriller]
19998,False,/rwHk1Zhi2b0eNTcyPgv2AGWJZVA.jpg,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",,tt0041178,en,The Big Steal,"Army Lieutenant Halliday, accused of stealing ...",...,Mitchum is HOT! - HOT...off location in the he...,The Big Steal,False,6.6,49,NaN,None,None,None,"[Romance, Drama, Thriller, Crime]"
19999,False,None,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",,tt0489707,en,Forgiving Dr. Mengele,"Eva Mozes Kor, who survived Josef Mengele's cr...",...,,Forgiving Dr. Mengele,False,7.0,2,NaN,None,None,None,[Documentary]

## Image Classifier

In [7]:
class ImageFileClassifier:
    
    def __init__(self, img_dir, min_probability=0.5):
        self.model = keras.applications.inception_v3.InceptionV3()
        self.input_dim = (299,299)
        self.min_probability = min_probability
        self.img_dir = img_dir
        
    def classify(self, img_path, as_list=True):
        """
        Classify an image.
        
        img_path: path pointing to an image file
        """
        if img_path is None:
            return []
        img_path = f"{self.img_dir}{img_path}"
        try:
            with PIL.Image.open(img_path) as img:
                img = img.resize(self.input_dim)
                img_a = keras.preprocessing.image.img_to_array(img)
                img_a = keras.applications.inception_v3.preprocess_input(img_a)
                predictions = self.model.predict(
                    numpy.array([img_a])
                )
                predictions_decoded = keras.applications.imagenet_utils.decode_predictions(predictions)[0]
                predictions = pandas.DataFrame(
                    predictions_decoded,
                    columns=["class_label", "class_name", "class_probability"]
                )
                # result
                if self.min_probability:
                    predictions = predictions[predictions["class_probability"] >= self.min_probability]
            return list(predictions["class_name"])
        except Exception as ex:
            #print(ex)
            return []

In [8]:
classifier = ImageFileClassifier(
    img_dir="../data/01_raw/posters",
    min_probability=0.1
)

In [9]:
classifier.classify("/1Crro6hN91lXc1sWXkU52tfjpAs.jpg")

['revolver']

In [10]:
from tqdm.auto import tqdm
tqdm.pandas()

In [11]:
%%time
movies["objects"] = movies["poster_path"].apply(classifier.classify)

2021-03-15 22:00:36,372 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:00:39,189 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:00:53,171 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:00:57,518 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:01:11,714 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:02:23,788 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:02:24,939 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:02:28,395 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:03:07,627 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:03:23,454 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:03:24,972 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:04:45,333 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:04:56,538 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:05:51,914 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:06:38,450 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:06:57,218 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:08:12,934 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:09:05,153 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:09:43,017 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:10:06,597 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:10:12,779 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:10:59,838 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:11:01,622 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:11:43,907 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:12:48,434 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:15:08,214 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:59:06,473 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 22:59:26,758 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:02:23,799 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:04:14,562 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:06:32,161 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:07:10,253 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:07:31,148 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:07:34,594 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:08:03,639 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:08:37,194 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:09:29,920 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:09:55,236 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:10:07,162 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:10:24,858 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:12:11,236 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:12:21,802 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:12:27,318 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
2021-03-15 23:12:34,181 - tensorflow - WARNING - Model was constructed with shape (None, 299, 299, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 299, 299, 3), dtype=tf.float32, name='input_1'), name='input_1', description="created by layer 'input_1'"), but it was called on an input with incompatible shape (None, 299, 299, 1).
CPU times: user 1h 56min 44s, sys: 13min 14s, total: 2h 9min 59s
Wall time: 1h 12min 33s

In [12]:
label_counts = pandas.Series(
    itertools.chain.from_iterable(
        movies[~movies["objects"].isna()]["objects"]
    )
).value_counts()

In [13]:
label_counts[:60]

comic_book            4037
book_jacket           3373
web_site              1170
stage                  346
suit                   234
maillot                189
bow_tie                182
jersey                 165
wig                    162
gown                   143
groom                  132
sunglasses             129
sunglass               127
hair_spray             123
brassiere              121
mask                   118
packet                 114
envelope               108
bikini                 107
jean                   100
menu                    85
miniskirt               84
theater_curtain         84
spotlight               82
military_uniform        81
cowboy_hat              79
television              78
rifle                   76
bobsled                 71
candle                  67
swimming_trunks         63
fountain                60
Band_Aid                59
sweatshirt              57
bathing_cap             56
tray                    56
academic_gown           56
perfume                 55
mortarboard             51
lipstick                50
toyshop                 50
barbershop              50
revolver                49
lab_coat                49
Windsor_tie             49
electric_guitar         47
sombrero                46
torch                   46
microphone              45
car_mirror              44
ski                     43
jigsaw_puzzle           43
cinema                  42
cellular_telephone      39
dumbbell                39
abaya                   38
ballplayer              38
drumstick               38
monitor                 37
pajama                  37
dtype: int64

In [14]:
label_counts[60:120]

neck_brace          36
assault_rifle       35
crash_helmet        34
bubble              34
scoreboard          31
prison              31
cloak               31
umbrella            31
feather_boa         31
parachute           31
volcano             30
racer               30
violin              29
seashore            29
fur_coat            27
park_bench          26
paddle              26
pick                26
tub                 26
hoopskirt           26
trench_coat         24
barbell             24
brass               24
loupe               23
sarong              23
harmonica           22
jack-o'-lantern     22
bow                 22
sleeping_bag        22
slot                22
scuba_diver         21
snowmobile          21
punching_bag        20
stole               20
sunscreen           20
syringe             20
bulletproof_vest    20
cab                 20
bearskin            19
limousine           19
football_helmet     19
street_sign         19
stethoscope         18
shower_cap          18
grand_piano         18
flute               18
lighter             18
breastplate         17
bathtub             17
carton              17
digital_clock       17
overskirt           16
altar               16
puck                16
killer_whale        16
soccer_ball         16
matchstick          16
ping-pong_ball      16
quill               15
kimono              15
dtype: int64

In [15]:
#movies.to_parquet("../data/04_feature/movies_objects.parquet")

In [16]:
from sklearn.preprocessing import MultiLabelBinarizer

In [17]:
mlb = MultiLabelBinarizer()

In [18]:
mlb.fit(movies["objects"])

MultiLabelBinarizer()

In [19]:
mlb.classes_

array(['Afghan_hound', 'African_chameleon', 'African_crocodile',
       'African_elephant', 'African_hunting_dog',
       'American_Staffordshire_terrier', 'American_alligator',
       'Appenzeller', 'Arabian_camel', 'Australian_terrier', 'Band_Aid',
       'Border_collie', 'Border_terrier', 'Boston_bull',
       'Brittany_spaniel', 'CD_player', 'Chesapeake_Bay_retriever',
       'Chihuahua', 'Christmas_stocking', 'Crock_Pot', 'Dungeness_crab',
       'Egyptian_cat', 'Eskimo_dog', 'French_bulldog', 'French_horn',
       'French_loaf', 'German_shepherd', 'Granny_Smith',
       'Greater_Swiss_Mountain_dog', 'Indian_cobra', 'Indian_elephant',
       'Irish_setter', 'Irish_water_spaniel', 'Labrador_retriever',
       'Leonberg', 'Lhasa', 'Loafer', 'Model_T', 'Newfoundland',
       'Norfolk_terrier', 'Norwich_terrier', 'Old_English_sheepdog',
       'Pekinese', 'Persian_cat', 'Petri_dish', 'Polaroid_camera',
       'Pomeranian', 'Rhodesian_ridgeback', 'Rottweiler', 'Saint_Bernard',
       'Saluki', 'Samoyed', 'Shetland_sheepdog', 'Shih-Tzu',
       'Siberian_husky', 'Sussex_spaniel', 'Tibetan_mastiff',
       'Tibetan_terrier', 'Windsor_tie', 'abacus', 'abaya',
       'academic_gown', 'accordion', 'acoustic_guitar',
       'aircraft_carrier', 'airliner', 'airship', 'albatross', 'alp',
       'altar', 'ambulance', 'amphibian', 'analog_clock', 'anemone_fish',
       'apron', 'armadillo', 'ashcan', 'assault_rifle', 'axolotl',
       'backpack', 'bagel', 'bakery', 'balance_beam', 'bald_eagle',
       'balloon', 'ballplayer', 'ballpoint', 'banana', 'banjo',
       'bannister', 'barbell', 'barber_chair', 'barbershop', 'barn',
       'barn_spider', 'barometer', 'barrel', 'barrow', 'baseball',
       'basenji', 'basketball', 'basset', 'bassoon', 'bath_towel',
       'bathing_cap', 'bathtub', 'beach_wagon', 'beacon', 'beaker',
       'bearskin', 'bee', 'beer_glass', 'bell_cote', 'bib',
       'bicycle-built-for-two', 'bighorn', 'bikini', 'binder',
       'binoculars', 'birdhouse', 'black_grouse', 'bloodhound',
       'boa_constrictor', 'boathouse', 'bobsled', 'bolete', 'bolo_tie',
       'bonnet', 'book_jacket', 'bookcase', 'bookshop', 'bow', 'bow_tie',
       'brass', 'brassiere', 'breakwater', 'breastplate', 'briard',
       'broccoli', 'broom', 'brown_bear', 'bubble', 'bucket', 'buckeye',
       'buckle', 'bulbul', 'bull_mastiff', 'bullet_train',
       'bulletproof_vest', 'bullfrog', 'butcher_shop', 'cab',
       'cabbage_butterfly', 'cairn', 'caldron', 'can_opener', 'candle',
       'cannon', 'canoe', 'capuchin', 'car_mirror', 'car_wheel',
       'cardigan', 'carousel', 'carton', 'cash_machine', 'cassette',
       'cassette_player', 'castle', 'catamaran', 'cauliflower', 'cello',
       'cellular_telephone', 'centipede', 'chain', 'chain_mail',
       'chain_saw', 'chainlink_fence', 'chambered_nautilus', 'cheetah',
       'chime', 'chimpanzee', 'china_cabinet', 'chocolate_sauce',
       'church', 'cinema', 'cleaver', 'cliff', 'cliff_dwelling', 'cloak',
       'clog', 'clumber', 'cockroach', 'coffee_mug', 'coho', 'coil',
       'collie', 'combination_lock', 'comic_book', 'common_iguana',
       'computer_keyboard', 'conch', 'confectionery', 'convertible',
       'coral_reef', 'corkscrew', 'corn', 'cornet', 'cowboy_boot',
       'cowboy_hat', 'cradle', 'crane', 'crash_helmet', 'crate',
       'croquet_ball', 'crossword_puzzle', 'crutch', 'cucumber',
       'cuirass', 'cup', 'curly-coated_retriever', 'daisy', 'dalmatian',
       'dam', 'desk', 'desktop_computer', 'dial_telephone', 'diaper',
       'digital_clock', 'digital_watch', 'dingo', 'dining_table',
       'dogsled', 'dome', 'doormat', 'dragonfly', 'drilling_platform',
       'drum', 'drumstick', 'dugong', 'dumbbell', 'ear', 'eel', 'eggnog',
       'electric_fan', 'electric_guitar', 'electric_ray', 'envelope',
       'espresso', 'espresso_maker', 'face_powder', 'feather_boa',
       'fiddler_crab', 'fire_engine', 'fire_screen', 'flagpole',
       'flat-coated_retriever', 'flatworm', 'flute', 'fly',
       'folding_chair', 'football_helmet', 'fountain', 'fountain_pen',
       'four-poster', 'freight_car', 'frilled_lizard', 'fur_coat', 'gar',
       'garbage_truck', 'gasmask', 'gazelle', 'geyser', 'gibbon',
       'go-kart', 'golden_retriever', 'golf_ball', 'golfcart', 'gondola',
       'gong', 'goose', 'gorilla', 'gown', 'grand_piano',
       'great_white_shark', 'greenhouse', 'grey_whale', 'grille',
       'grocery_store', 'groenendael', 'groom', 'guacamole', 'guillotine',
       'gyromitra', 'hair_slide', 'hair_spray', 'half_track', 'hammer',
       'hammerhead', 'hamper', 'hand-held_computer', 'hand_blower',
       'handkerchief', 'hard_disc', 'harmonica', 'harp', 'hatchet', 'hay',
       'head_cabbage', 'hen-of-the-woods', 'hermit_crab', 'hippopotamus',
       'hog', 'home_theater', 'honeycomb', 'hook', 'hoopskirt',
       'horizontal_bar', 'hornbill', 'horned_viper', 'horse_cart',
       'hotdog', 'hourglass', 'hummingbird', 'iPod', 'ice_bear',
       'ice_lolly', 'impala', 'iron', 'isopod', "jack-o'-lantern", 'jean',
       'jellyfish', 'jersey', 'jigsaw_puzzle', 'jinrikisha', 'joystick',
       'keeshond', 'kelpie', 'killer_whale', 'kimono', 'king_crab',
       'king_penguin', 'kit_fox', 'knee_pad', 'knot', 'komondor',
       'kuvasz', 'lab_coat', 'ladybug', 'lakeside', 'lampshade', 'laptop',
       'lawn_mower', 'leaf_beetle', 'leatherback_turtle', 'lens_cap',
       'library', 'lifeboat', 'lighter', 'limousine', 'liner', 'lion',
       'lionfish', 'lipstick', 'llama', 'loggerhead',
       'long-horned_beetle', 'lorikeet', 'lotion', 'loudspeaker', 'loupe',
       'lycaenid', 'macaw', 'magnetic_compass', 'mailbag', 'mailbox',
       'maillot', 'malamute', 'malinois', 'manhole_cover', 'maraca',
       'marimba', 'mask', 'matchstick', 'maypole', 'maze',
       'medicine_chest', 'meerkat', 'megalith', 'menu', 'microphone',
       'military_uniform', 'milk_can', 'minibus', 'miniskirt', 'minivan',
       'mink', 'missile', 'mobile_home', 'monarch', 'monitor', 'moped',
       'mortar', 'mortarboard', 'mosquito_net', 'motor_scooter',
       'mountain_bike', 'mountain_tent', 'mouse', 'mousetrap',
       'moving_van', 'mushroom', 'muzzle', 'nail', 'neck_brace',
       'necklace', 'nematode', 'night_snake', 'nipple', 'notebook',
       'oboe', 'ocarina', 'odometer', 'oil_filter', 'orange', 'orangutan',
       'organ', 'oscilloscope', 'ostrich', 'overskirt', 'ox', 'oxcart',
       'oxygen_mask', 'packet', 'paddle', 'padlock', 'paintbrush',
       'pajama', 'palace', 'panpipe', 'paper_towel', 'papillon',
       'parachute', 'parallel_bars', 'park_bench', 'parking_meter',
       'passenger_car', 'pay-phone', 'pedestal', 'pelican', 'pencil_box',
       'pencil_sharpener', 'perfume', 'pick', 'pickelhaube',
       'picket_fence', 'pickup', 'pier', 'piggy_bank', 'pill_bottle',
       'pillow', 'ping-pong_ball', 'pinwheel', 'pirate', 'pizza', 'plane',
       'planetarium', 'plastic_bag', 'plate', 'plate_rack', 'platypus',
       'plow', 'plunger', 'pole', 'poncho', 'pool_table', 'pop_bottle',
       'porcupine', "potter's_wheel", 'power_drill', 'prayer_rug',
       'pretzel', 'prison', 'proboscis_monkey', 'projectile', 'projector',
       'promontory', 'ptarmigan', 'puck', 'pug', 'punching_bag', 'purse',
       'quill', 'quilt', 'racer', 'racket', 'radiator', 'radio',
       'radio_telescope', 'rain_barrel', 'ram', 'rapeseed',
       'recreational_vehicle', 'red_fox', 'red_wine', 'reel',
       'reflex_camera', 'refrigerator', 'remote_control', 'restaurant',
       'revolver', 'rhinoceros_beetle', 'rifle', 'rock_crab',
       'rocking_chair', 'rotisserie', 'rubber_eraser', 'ruffed_grouse',
       'rugby_ball', 'rule', 'running_shoe', 'safe', 'safety_pin',
       'saltshaker', 'sandal', 'sandbar', 'sarong', 'sax', 'scabbard',
       'scale', 'school_bus', 'schooner', 'scoreboard', 'screen', 'screw',
       'screwdriver', 'scuba_diver', 'sea_lion', 'sea_slug', 'sea_snake',
       'sea_urchin', 'seashore', 'seat_belt', 'sewing_machine', 'shield',
       'shoe_shop', 'shoji', 'shopping_basket', 'shopping_cart', 'shovel',
       'shower_cap', 'shower_curtain', 'siamang', 'sidewinder', 'ski',
       'ski_mask', 'skunk', 'sleeping_bag', 'sliding_door', 'slot',
       'sloth_bear', 'snorkel', 'snowmobile', 'soap_dispenser',
       'soccer_ball', 'sock', 'soft-coated_wheaten_terrier', 'solar_dish',
       'sombrero', 'sorrel', 'soup_bowl', 'space_heater', 'space_shuttle',
       'spatula', 'speedboat', 'spider_web', 'spiny_lobster',
       'sports_car', 'spotlight', 'stage', 'standard_poodle',
       'steam_locomotive', 'steel_arch_bridge', 'steel_drum',
       'stethoscope', 'stingray', 'stole', 'stopwatch', 'stove',
       'strainer', 'street_sign', 'streetcar', 'stretcher',
       'studio_couch', 'stupa', 'submarine', 'suit', 'sulphur_butterfly',
       'sundial', 'sunglass', 'sunglasses', 'sunscreen',
       'suspension_bridge', 'swab', 'sweatshirt', 'swimming_trunks',
       'swing', 'switch', 'syringe', 'tabby', 'table_lamp', 'tailed_frog',
       'tank', 'tape_player', 'teapot', 'teddy', 'television',
       'tennis_ball', 'thatch', 'theater_curtain', 'throne', 'tick',
       'tiger', 'tiger_cat', 'tiger_shark', 'titi', 'toaster',
       'tobacco_shop', 'toilet_seat', 'toilet_tissue', 'torch',
       'totem_pole', 'tow_truck', 'toy_poodle', 'toyshop', 'tractor',
       'traffic_light', 'trailer_truck', 'tray', 'tree_frog',
       'trench_coat', 'triceratops', 'tricycle', 'trilobite', 'trimaran',
       'tripod', 'triumphal_arch', 'trombone', 'tub', 'turnstile',
       'tusker', 'typewriter_keyboard', 'umbrella', 'unicycle', 'upright',
       'vacuum', 'valley', 'vase', 'vault', 'velvet', 'vestment',
       'violin', 'vizsla', 'volcano', 'volleyball', 'wall_clock',
       'wardrobe', 'warplane', 'washer', 'water_bottle', 'water_jug',
       'water_snake', 'water_tower', 'weasel', 'web_site', 'whiskey_jug',
       'whistle', 'white_stork', 'white_wolf', 'wig', 'window_screen',
       'window_shade', 'wine_bottle', 'wing', 'wok', 'wolf_spider',
       'wombat', 'wooden_spoon', 'wool', 'worm_fence', 'wreck', 'yawl',
       "yellow_lady's_slipper", 'yurt', 'zebra'], dtype=object)

In [20]:
objects = pandas.DataFrame(
    mlb.transform(movies["objects"]),
    columns=mlb.classes_,
    index=movies.index
)
objects

,Afghan_hound,African_chameleon,African_crocodile,African_elephant,African_hunting_dog,American_Staffordshire_terrier,American_alligator,Appenzeller,Arabian_camel,Australian_terrier,...,wolf_spider,wombat,wooden_spoon,wool,worm_fence,wreck,yawl,yellow_lady's_slipper,yurt,zebra
id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
X_train = objects.loc[movies.index.difference(movies_test.index)]

In [22]:
X_test = objects.loc[movies_test.index]

In [23]:
X_train

,Afghan_hound,African_chameleon,African_crocodile,African_elephant,African_hunting_dog,American_Staffordshire_terrier,American_alligator,Appenzeller,Arabian_camel,Australian_terrier,...,wolf_spider,wombat,wooden_spoon,wool,worm_fence,wreck,yawl,yellow_lady's_slipper,yurt,zebra
id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
X_test

,Afghan_hound,African_chameleon,African_crocodile,African_elephant,African_hunting_dog,American_Staffordshire_terrier,American_alligator,Appenzeller,Arabian_camel,Australian_terrier,...,wolf_spider,wombat,wooden_spoon,wool,worm_fence,wreck,yawl,yellow_lady's_slipper,yurt,zebra
id,,,,,,,,,,,,,,,,,,,,,
17335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
757,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1915,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15111,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4494,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9272,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
mlb_genres = MultiLabelBinarizer()

In [26]:
mlb_genres.fit(movies["genre_names"])

MultiLabelBinarizer()

In [27]:
genres = pandas.DataFrame(
    mlb_genres.transform(movies["genre_names"]),
    columns=mlb_genres.classes_,
    index=movies.index
)

In [28]:
genres

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
2,0,0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
8,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
19996,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
19997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
19998,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,1,0,0
19999,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
Y_train = genres.loc[movies.index.difference(movies_test.index)]

In [30]:
Y_test = genres.loc[movies_test.index]

## Network Architecture

In [31]:
n_objects = objects.shape[1]
n_genres = genres.shape[1]

In [32]:
output_layer = keras.layers.Dense(
    units=n_genres,
    activation="sigmoid"
)

In [33]:
net = keras.models.Sequential(
    [
        keras.layers.Input(
            shape=n_objects
        ),
        keras.layers.Dense(
            units=128
        ),
        keras.layers.Dropout(0.2),
        keras.layers.Dense(
            units=n_genres,
            activation="sigmoid"
        )
    ]
)

In [34]:
net.compile(
    loss="binary_crossentropy",
    optimizer="adam",
)

In [35]:
net.fit(
    X_train,
    Y_train,
    validation_data=(X_test, Y_test),
    epochs=100,
    callbacks=[
        keras.callbacks.EarlyStopping(
            min_delta=0.00001,
            patience=8
        )
    ]
)

Epoch 1/100
347/347 [==============================] - 1s 3ms/step - loss: 0.4655 - val_loss: 0.3085
Epoch 2/100
347/347 [==============================] - 0s 1ms/step - loss: 0.3057 - val_loss: 0.3030
Epoch 3/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2974 - val_loss: 0.3013
Epoch 4/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2931 - val_loss: 0.3013
Epoch 5/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2901 - val_loss: 0.3016
Epoch 6/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2916 - val_loss: 0.3029
Epoch 7/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2863 - val_loss: 0.3037
Epoch 8/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2860 - val_loss: 0.3052
Epoch 9/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2848 - val_loss: 0.3062
Epoch 10/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2839 - val_loss: 0.3074
Epoch 11/100
347/347 [==============================] - 0s 1ms/step - loss: 0.2829 - val_loss: 0.3089

In [36]:
Y_pred = pandas.DataFrame(
    net.predict(X_test).round(),
    columns=genres.columns,
    index=X_test.index
)

In [37]:
from sklearn.metrics import f1_score

In [38]:
f1_score(
    Y_test,
    Y_pred,
    average="micro"
)

0.22919508867667124

In [39]:
f1_score(
    Y_test,
    Y_pred,
    average="weighted"
)

0.18757989100504738

In [40]:
Y_pred

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
17335,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11886,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2115,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1830,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4494,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9272,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
Y_test

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
id,,,,,,,,,,,,,,,,,,,
17335,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
757,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0
11886,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2115,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
1915,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15111,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18002,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1830,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
4494,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0
9272,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
rf_classifier = RandomForestClassifier()

In [44]:
rf_classifier.fit(X_train, Y_train)

RandomForestClassifier()

In [45]:
Y_pred = rf_classifier.predict(X_test)

In [46]:
f1_score(
    Y_test,
    Y_pred,
    average="micro"
)

0.23249669749009244

In [47]:
f1_score(
    Y_test,
    Y_pred,
    average="weighted"
)

0.2023975315884658